@charset "utf-8";
/* CSS Document */\
body {
	background-color: #F5F5F5;
}
.top{
	font-size:13px;
	width:100%;
	background-color:#f3f3f3;
	height:20px;
	font-family:"poiret-one";
	border-bottom:1px solid;
	border-bottom-color: #E3E1E1;
	padding-left: 20px;
}
.wrap{
	background: url(../images/4.jpg);
	background-repeat: repeat;
	background-position: center top;
	background-color: #EAE6E6;
	height:800px;
	width: 100%;
}
.head{
	padding-top: 70px;
	padding-bottom: 30px;
}
.copy{
	padding-top: 20px;
}
.copy a{
	text-decoration: none;
	color:#269C5D;
}